@import bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss

header
	+clearfix
	min-height: 90px

	font-family: "Roboto", sans-serif !important
    font-weight: 400
    font-size: 14px
    line-height: 24px
    -webkit-font-smoothing: antialiased !important

	//Link style 	
	a
		color: $gold
		text-decoration: none
	    transition: all 0.3s ease 0s

		&:active,
		&:focus,
		&:active
			text-decoration: none 	!important
			outline: none

		&:hover,
		&:focus
			color: $gold-foco
			text-decoration: none 	!important






	//Logo do LIBRAS Office				*De preferencia SVG pra manipulação de cenas de rearranjo
	.logo
		position: fixed
		float: left
		margin: 32px 0 0
		margin: -6px 0 0  

		img
			width: 219px
			+breakpoint($tablet)
				margin: 6px 0 0
				width: 150px

			+breakpoint($tablet-mini)
				margin: 10px 0 0
				width: 150px
				
			+breakpoint($celular)
				margin: 10px 0 0
				width: 150px

	//Títulos//
	h1
		clear: both
		text-transform: uppercase
		font-size: 47px
		color: $branco
		+breakpoint($celular)
			+font-size(60px) 


	//Parágrafos//
	p
		margin: 0 0 54px
		font-size: 25px
		font-style: italic
		color: $branco 						//$cinza-medio
		+breakpoint($celular)
			+font-size(35px)



	//Navegação//
	@media(min-width:767px)
	    .navbar 
	        padding: 20px 0
	        border-bottom: 0
	        background: $laranja
	        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out
	        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out
	        transition: background .5s ease-in-out,padding .5s ease-in-out, width .5s ease-in-out
	   

	    /*for IE9 fallback background color*/
	    .no-csstransitions
	        background: $laranja
	    
	    .top-nav-collapse
	        padding: 0
	        background-color: $laranja !important

	        .logo
	        	img
	        		width: 160px
	        		margin-top: 7px



	@media(max-width:767px)
	    .navbar-default 
	        background: $laranja    //fundo toggle menu
	        border-color: $laranja
	    


	.navbar-default .navbar-nav
		li
			a
			    color: $branco
			    text-transform: capitalize
			    font-size: 14px
			    line-height: 24px
			    font-weight: 500


	.navbar-default .navbar-nav
		li
			a
				&:hover,
				&:focus
					color: $gold
					background-color: transparent


	.navbar-default .navbar-nav>.active>a, 
	.navbar-default .navbar-nav>.active>a:hover, 
	.navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.open>a, 
	.navbar-default .navbar-nav>.open>a:hover, 
	.navbar-default .navbar-nav>.open>a:focus
	    color: $gold
	    background-color: transparent


	/*SASS TAB*/
	.nav-tabs
	    border-bottom: 0
	    background: rgba(255, 255, 255, 0.1)
	    display: inline-block
	    padding: 5px 7px
	    border-radius: 3px


	.nav-tabs
		li
			a
			    padding: 8px 20px
			    line-height: normal
			    border: 0
			    font-size: 18px
			    font-weight: 700
			    color: $branco
			    border-radius: 3px


	.nav-tabs
		li
			a
				&:active
				    border: 0
				    color: $branco
				    margin-bottom: 0



	.nav-tabs > li > a:hover,
	.nav-tabs > li.active > a, 
	.nav-tabs > li.active > a:hover, 
	.nav-tabs > li.active > a:focus
	    color: $branco
	    background: $gold
	    border: 0



	.tab-content
	    padding: 0
	    margin: 70px 0 0
	    color: $branco

	.tab-content h3
	    font-weight: 700
	    color: $branco


	.css-tab .media-left
		img
		    margin-right: 20px
		    border-radius: 4px
		    width: inherit

	.css-tab .media-heading
	    margin-bottom: 15px

	
	/*CSS Dropdown menu*/
	.dropdown-menu 
		border: 0 
		border-radius: 0 
		position: relative 
		display: block 
		float: none 
		width: 100% 
		box-shadow: none 
		background: #ff3f00 
	.nav 
		&.navbar-nav 
			li 
				ul 
					&.dropdown-menu 
						li 
							a 
								padding: 7px 20px 
								font-size: 13px 
								color: #fff 
								line-height: 20px 
								text-transform: capitalize 
	.nav.navbar-nav li ul.dropdown-menu li a:hover,
	.nav.navbar-nav li ul.dropdown-menu li a:focus 
		background: transparent 
		color: #fcbb3c 
	.dropdown-menu>.active>a, 
	.dropdown-menu>.active>a:hover, 
	.dropdown-menu>.active>a:focus 
		color: #fcbb3c !important 
		background-color: transparent 



	/* Menu hover */

	/* 2nd camada do menu */

	li 
		&.dropdown 
			& > .submenu-wrapper 
				position: absolute 
				display: block 
				left: 0 
				z-index: 999 
				pointer-events: none 
				top: 38px 

				/** IE pointer events */
				&.no-pointer-events 
					display: none 
				& > .submenu-inner 
					margin-top: 16px 
					opacity: 0 
					filter: alpha(opacity=0) 
					-webkit-transform: translateY(-100%) 
					-moz-transform: translateY(-100%) 
					-ms-transform: translateY(-100%) 
					-o-transform: translateY(-100%) 
					transform: translateY(-100%)

					/* Will change on theme specific */
					min-width: 200px 
					-webkit-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 
					-moz-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 
					-ms-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 
					-o-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 
					transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 
			&:hover 
				& > .submenu-wrapper 
					pointer-events: auto 
					&.no-pointer-events 
						display: block 
					& > .submenu-inner 
						opacity: 1 
						filter: alpha(opacity=100) 
						-webkit-transform: translateY(0) 
						-moz-transform: translateY(0) 
						-ms-transform: translateY(0) 
						-o-transform: translateY(0) 
						transform: translateY(0) 
				& > .submenu-sub-wrapper 
					pointer-events: auto 
					& > .submenu-sub-inner 
						opacity: 1 
						filter: alpha(opacity=100) 
						-webkit-transform: translateX(0) 
						-moz-transform: translateX(0) 
						-ms-transform: translateX(0) 
						-o-transform: translateX(0) 
						transform: translateX(0) 
			&.menu-animating 
				& > .submenu-wrapper 
					overflow: hidden 
				& > .submenu-sub-wrapper 
					overflow: hidden 
			& > .submenu-sub-wrapper 
				position: absolute 
				left: 100% 
				top: 0 
				display: block 
				z-index: 1000 
				width: 100% 
				pointer-events: none 
				& > .submenu-sub-inner 
					opacity: 0 
					filter: alpha(opacity=0) 
					-webkit-transform: translateX(-100%) 
					-moz-transform: translateX(-100%) 
					-ms-transform: translateX(-100%) 
					-o-transform: translateX(-100%) 
					transform: translateX(-100%) 
					-webkit-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 
					-moz-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 
					-ms-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 
					-o-transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 
					transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 
	.ie9 
		li 
			&.dropdown 
				& > .submenu-wrapper 
					& > .submenu-inner 
						margin-top: 34px 
		.top-nav-collapse 
			li 
				&.dropdown 
					& > .submenu-wrapper 
						& > .submenu-inner 
							margin-top: 14px